<?xml version="1.0" encoding="utf-8"?>
<ObjDef xmlns="http://www.sonicretro.org" Image="block">
  <Images>
    <ImageFromSheet id="post" sheet="R7/Objects.gif" sourcex="90" sourcey="52" width="16" height="16">
      <Offset X="-8" Y="-8"/>
    </ImageFromSheet>
	<ImageFromSheet id="thhalf" sheet="R7/Objects.gif" sourcex="34" sourcey="96" width="64" height="24">
      <Offset X="-8" Y="-28"/>
    </ImageFromSheet>
	<ImageFromSheet id="tdhalf" sheet="R7/Objects.gif" sourcex="59" sourcey="121" width="56" height="56">
      <Offset X="-24" Y="-56"/>
    </ImageFromSheet>
	<ImageFromSheet id="bdhalf" sheet="R7/Objects.gif" sourcex="59" sourcey="121" width="56" height="56">
      <Offset X="-56" Y="-24"/>
    </ImageFromSheet>
	<ImageFromSheet id="bdhalf" sheet="R7/Objects.gif" sourcex="34" sourcey="121" width="24" height="64">
      <Offset X="-28" Y="-56"/>
    </ImageFromSheet>
	<ImageFromSheet id="bdhalf" sheet="R7/Objects.gif" sourcex="34" sourcey="96" width="64" height="24">
      <Offset X="-56" Y="-28"/>
    </ImageFromSheet>
  </Images>
  <ImageSets>
	<ImageSet id="dummy">
	  <ImageRef image="post" />
      </ImageRef>
	</ImageSet>
  </ImageSets>
  <DefaultImage>
    <ImageSetRef set="dummy" />
  </DefaultImage>
  <Subtypes>
    <Subtype id="00" name="Rotating">
	  <ImageSetRef set="dummy" />
	</Subtype>
	<Subtype id="01" name="Up-Right">
	  <ImageSetRef set="dummy" />
	</Subtype>
	<Subtype id="02" name="Up-Right">
	  <ImageSetRef set="dummy" />
	</Subtype>
	<Subtype id="03" name="Up-Left">
	  <ImageSetRef set="dummy" />
	</Subtype>
	<Subtype id="04" name="Left">
	  <ImageSetRef set="dummy" />
	</Subtype>
	<Subtype id="05" name="Up-Left">
	  <ImageSetRef set="dummy" />
	</Subtype>
	<Subtype id="06" name="Up">
	  <ImageSetRef set="dummy" />
	</Subtype>
  </Subtypes>
</ObjDef>